:root {
  --icon-color: #d8d0c1;
  --page-width: 88.889%;
  --max-page-width: 67em;
  --alternate-color: #cbb8a9;
}

body {
  color: #363644;
  width: var(--page-width);
  max-width: var(--max-page-width);
  background-color: #d8d0c1;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
}
