.pageContainer {
  margin: auto;
  max-width: 1200px;
  display: grid;
}

.imageOverlayContainer {
  position: absolute;
  width: 100vw;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  font-size: x-large;
}

.imageOverlay {
  width: 20vw;
  min-width: 5em;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  max-width: 30em;
  width: 88.889%;
  font-size: large;
}

.big {
  font-size: xx-large;
  margin-top: 1em;
}

.aboutTrigger {
  margin-top: 3em;
  font-size: large;
  font-weight: 700;
  padding-bottom: 0.5em;
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.categoryContainer {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.categoryList {
  width: 88.889%;
  max-width: 67em;
  width: 88.889%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryImage {
  width: 80px;
  height: 80px;
}

.categoryTitle {
  font-size: x-large;
}

.categoryItem {
  width: 10em;
  margin: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.image {
  border-radius: 50%;
}
