.topContainer {
  position: relative;
}

.imageContainer {
  top: 50px;
  position: relative;
  width: 100vw;
}

.imageOverlayContainer {
  position: absolute;
  width: 100vw;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  font-size: x-large;
}

.imageOverlay {
  width: 20vw;
}

.backgroundImageContainer {
  background-color: rgba(54, 54, 68, 0.6);
}

.backgroundImage {
  height: 30vw;
  z-index: -1;
}
