.pageContainer {
  margin: auto;
  max-width: 1200px;
  display: grid;
}

.topContainer {
  position: relative;
}

.imageContainer {
  position: relative;
  width: 100vw;
}

.imageOverlayContainer {
  position: absolute;
  width: 100vw;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  font-size: large;
}

.imageOverlay {
  width: 20vw;
  min-width: 10em;
}

.backgroundImageContainer {
  background-color: rgba(54, 54, 68, 0.6);
}

.backgroundImage {
  height: 35vw;
  min-height: 350px;
  z-index: -1;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacts svg {
  fill: currentColor;
  width: 27px;
  vertical-align: bottom;
}
