.pageContainer {
  margin: auto;
  max-width: 1200px;
  display: grid;
}

.topContainer {
  position: relative;
}

.imageContainer {
  position: relative;
  text-align: center;
  width: 100vw;
}

.backgroundImageContainer {
  background-color: rgba(54, 54, 68, 0.6);
}

.backgroundImage {
  height: 35vw;
  min-height: 350px;
  z-index: -1;
}
