.categoryList {
  width: 88.889%;
  max-width: 67em;
  width: 88.889%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryTitle {
  font-size: large;
  line-height: 1.5;
}

.categoryItem {
  width: 10em;
  margin: 3em 3em 0em 3em;
}

.categoryItemContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.image {
  border-radius: 50%;
}
