.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.innerContainer {
  max-width: 30em;
  width: 88.889%;
}

.day {
  display: flex;
  align-items: center;
  background-color: var(--alternate-color);
  padding: 1em;
}

.day:nth-of-type(odd) {
  background-color: var(--alternate-color);
}

.day:nth-of-type(even) {
  background-color: var(--third-color);
}

.dayName {
  flex-shrink: 0;
  width: 3em;
  font-size: x-large;
  font-weight: 700;
}

.eventContainer {
}

.event {
  display: flex;
  font-size: large;
}

.event:not(:first-of-type) {
  margin-top: 1em;
}

.timeRange {
  flex-shrink: 0;
  width: 6em;
}

.eventTitle {
  margin-left: 1em;
}
